@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Roboto&display=swap');


/* ------------------ all body css ****************/
body {
  
  background-color: #000;
}

* a {
    text-decoration: none !important;
}
html {
  scroll-behavior: smooth;
}

/* ------------------ Logo -----*/


/* ------------------ Navbar -- */

.navi {
  background-color: #000 !important;
  line-height: 24px;
  height: 80px;
}

.menu {
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.6em;
  margin-top:30px;
  margin-bottom: 30px;
  margin-left:auto;

}
.menu a{
    display:block;
}
.menu li a{
  color: #f6f6f6 !important;
  
  font-family: "Anton", sans-serif;
  transition: 0.5s ease-in-out;
  padding: 5px 15px;
  margin: 10px 10px;
  letter-spacing: 2px;
  
}
.menu li a:hover {
  color: #ff7700 !important;
  transform: scale(1.1);
}

.active-nav {
    border-bottom: 2px solid #ff7700;
    transform: scale(1.1);
}

/**************************** home page first title **************/

.title-1 {
    background: url(../images/banner.jpg) no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    justify-content: center;
    height: 60vh;
    margin-bottom: 0;
    margin-top: 50px;

}

.first-card {
    margin-top: 135px;
    background-color: transparent !important;
}   
.title-head {
  background-color: rgba(78, 52, 12, 0.699);
  border-radius: 10px;
  padding: 5px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: #ff7700;
  font-size: 290%;
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
}

.title-head  span{
  color: #f6f6f6;
}
/* ------------------------------ Sign up modal ----*/
.joinus-box {
  margin-top: 250px;
  background-color: rgba(0,0,0,0.8) !important;
  color: #ff7700;
  padding: 15px;
}

/* ---------------------- Title Box start trial button---*/
.join-btn {
  background-color: #ff7700 ;
  transition: 0.5s ease-in-out;
  color: #f6f6f6;
  border-radius: 25px;
  border:0;
}

.btn-warning:hover {
    color: #ff7700;
    background-color: #f6f6f6;

}

/*************************** Logo ************/
.logo a h3 {
    text-decoration: none !important;
    color:#ff7700;
}

.logo a h3 {
    animation: mymove 6s infinite;
    
}

@keyframes mymove {
  0%   {color: #f6f6f6;}
  25%  {color:#ff7700;}
  50%  {color: #f6f6f6;}
  75%  {color: #ff7700;} 
  100% {color: #f6f6f6;}
}

/*************************** Fonts CSS *******************/

.orange {
    color:#ff7700;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
}

.text {
    text-align: right;
    color: #f6f6f6;
    font-size: 160%;
}

.story {
    text-align:  justify;
}

.jumbo {
  font-size: 1.3em;
  margin-top: 20px;
}

.footer-text {
    font-family: "Roboto", sans-serif;
    color: #f6f6f6;
    font-size: 80%;
    letter-spacing: 0;
}

/************************ horizontal line CSS *********/
.line {
  height: 2px;
  background-color: #ff7700;
  border-radius: 25px;
}

/**************************** About us page ****************/
.title-3 {
   height: 500px;

  background: url(../images/cycle.jpg) no-repeat center center;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  justify-content: center;
}

.about-us {
    font-family: "Anton", sans-serif;
    color: #ff7700;
    font-size: 290%;
    letter-spacing: 2px;
}

.aboutus-container {
   
    padding: 0 !important;
}

/* ------------------- Trainer section -------*/

.trainer-title{
    margin-top:180px !important;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
    font-size: 230% !important;
}
.trainer-pic1 {
   
    width:80%;
    height: 300px;
    border: 4px solid #ff7700;
    border-radius: 5%;
    margin: 100px auto 0 auto;
    background-color: silver;
    overflow: hidden;
}

.pic1 {
   
     background: url(../images/trainer-1.png) no-repeat  top center;
    background-size: cover;
    width: 100%;
    height: 100%;
     transition: 0.3s all ease-in-out;
}     
.pic1:hover {
    
   transform: scale(1.05);
}
.trainer-pic2 {
    width:80%;
    height: 300px;
    border: 4px solid #ff7700;
    border-radius: 5%;
    margin: 100px auto 0 auto;
    background-color: blue;
    overflow: hidden;
}

.pic2 {
   
    background: url(../images/trainer-2.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
}

.pic2:hover {
     transform: scale(1.05);
}
.trainer-pic3 {
    width:80%;
    height: 300px;
    border: 4px solid #ff7700;
    border-radius: 5%;
    margin: 100px auto 0 auto;
     background-color: green;
    overflow: hidden;
}

.pic3 {
   
    background: url(../images/trainer-3.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
     
}

.pic3:hover {
   transform: scale(1.05);
  
}

.text-trainer {
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    font-size: 90%;
    font-family: "Roboto", sans-serif;
}
.train-align {
    margin: 0 auto;
}

/**************************** Membership Price box ****************/

.price-box {
    margin: 50px auto 200px auto;
    padding: 0 50px;
}



.price-title {
    margin-top: 25%;
    margin-bottom: 20%;
    font-size: 290%;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
}
.yearly {
    background-color: #f6f6f6;
    height: 350px;
    border-radius: 10px;
    padding:0 !important;
    overflow:  unset;
    position:relative;
    transition: 0.3s all ease-in-out;
    z-index: 1;
    margin-bottom: 40px;

}

.best-value {
    width:80px;
    height: 80px;
    color:#f6f6f6;
    font-family: "Roboto", sans-serif;
    background-color: rgb(68, 126, 250);
    border-radius: 40px;
    position: absolute;
    top: -50px;
    left: 150px;
    z-index: 2;
    transition: 0.5s all cubic-bezier(0.215, 0.610, 0.355, 1);
}

.best-value:hover {
    background-color: #f6f6f6;
    color: rgb(68, 126, 250);
    transform: scale(1.05);
     
}

.yearly a {
    text-decoration: none;
    color:black;
}
.quarterly {
    background-color: #f6f6f6;
    height: 350px;
    border-radius: 10px;
    padding:0 !important;
    transition: 0.3s all ease-in-out;
     margin-bottom: 40px;
}

.quarterly a {
    text-decoration: none;
    color:black;
}

.monthly {
    background-color: #f6f6f6;
    height: 350px;
    border-radius: 10px;
    padding:0 !important;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}

.monthly a  {
    text-decoration: none;
    color:black;
}

.sub-head {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 120%;
    text-transform: uppercase;
}

.monthly p, .yearly p, .quarterly p {
        font-family: "Roboto", sans-serif;
        margin-left: 15px;
}

.sub-title {
    margin-top: 140px;
    font-size: 280%;
    margin-left: 15px;
}

.sub-title span {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 30%;
}

.space {
   
    width: 100%;
    height: 30px;
    background-color: rgb(68, 126, 250);
    margin:0 !important;
    padding:0 !important;
    border-radius: 0 0 10px 10px;
}
.yearly:hover {
    transform: scale(1.05);
}

.quarterly:hover {
    transform: scale(1.05);
}

.monthly:hover {
    transform: scale(1.05);
}

/****************************** Question & Answer modal ****************/
.card {
    background-color: transparent;
    color: white;
}
.info {
    text-decoration: none !important;
    color: #ff7700;
    font-size: 60%;
}
.info:hover {
    color: #f6f6f6;
    border-color: #f6f6f6;
}
.info:focus {
    border-color: #f6f6f6;
}



/************************ Members Review *******************/

.review-head{
    margin-top: 200px;
    color: #f6f6f6;
    font-family: "Anton", sans-serif;
    font-size: 290%;
    letter-spacing: 2px;
}
.mem-pic {
    margin:100px auto 0 auto;
    width:200px;
    height:200px;
    border: 4px solid #f6f6f6;
    border-radius: 100px;
    overflow: hidden;
}

.profile-1 {
    background: url(../images/mem-1.jpg) no-repeat;
    background-size: contain;
    width:190px;
    height: 190px;
    border-radius: 100px;
    margin: 0 auto;
    border:10px solid #ff7700;
    margin-top: 1px;
}
.profile-2 {
    background: url(../images/mem-2.jpg) no-repeat;
    background-size: contain;
    width:189px;
    height: 189px;
    border-radius: 100px;
    margin: 0 auto;
    border:10px solid #ff7700;
    margin-top: 1px;
}
.profile-3 {
    background: url(../images/mem-3.jpg) no-repeat;
    background-size: contain;
    width:190px;
    height: 190px;
    border-radius: 100px;
    margin: 0 auto;
    border:10px solid #ff7700;
    margin-top: 1px;
}
.icon {
    margin: 0 auto;
}

/*************************************** Footer Section **************************/
footer{
    margin-top: 50px;
    
}

.social a {
    display:block;
    float:left;
    padding: 5px;
}

.social a i {
    color: #f6f6f6 !important;
    font-size: 180%;
    padding: 5px;
    transition: 0.3s all ease-in-out;
}

.social:hover a i {
    color:#ff7700 !important;
    transform: translateY(3px) !important;
}
/*********************** Mmembers Page ************************/

.title-2 {
    margin-top:100px !important;
    height: 30vh;
    background: url(../images/title-2.jpg) no-repeat center center;
    background-size: cover;
}

 .members-title {
     margin: 0!important;
     padding: 0!important;
 }
/*********************** gym pictures *************************/


.gym {
    margin-top: 200px !important;
}

.big-text {
    font-size: 140px;
    color: #ff7700;
    margin-top: 100px;
    font-family: "Anton", sans-serif;
    text-align: center;
}
.big-text-middle {
    font-size: 160px;
    color: #f6f6f6;
    margin-top: 100px;
    font-family: "Anton", sans-serif;
    text-align: center;
}

.player-1 {
    background: url(../images/gym-1.jpeg) no-repeat center center;
    background-size: cover;
    width: 498px;
    height: 498px;
    border: 13px solid #f6f6f6b9;
}

.player-2 {
    background: url(../images/gym-2.jpeg) no-repeat center center;
    background-size: cover;
    width: 498px;
    height: 498px;
    border: 13px solid #df680096;
}

.player-3 {
    background: url(../images/gym-3.jpeg) no-repeat right;
    background-size: cover;
    width: 498px;
    height: 498px;
    border: 13px solid #f6f6f6b9;
}

.title-4 {
   
    height: 500px;
    background: url(../images/contact.jpg) no-repeat center center;
    background-size: cover;
}
.contact {
    padding:0;
}

/************************ Media Queries index page******************/
@media screen and (max-width:1600px) {
    .title-head {
        margin-top: 165px;
    }
    .price-title {
        margin: 20% auto 15% auto;
    }
}

@media screen and (max-width:992px) {    
    .title-1 {
        height: 50vh !important;
    }
    
    .active-nav {
        border: none;
        transform: scale(1);
    }
    .active-nav:hover {
        transform: scale(1) !important;
    }
    .menu li a:hover {
    transform: scale(1);
    }
    .title-head {
        
        margin-top: 0px;
        margin-bottom: 0;
        letter-spacing: 2px;
        text-align: left;
        padding: 15px;
    }
    .join-btn {
        font-size: 0.7em;
    }
    
    blockquote {
        margin-bottom: 0 !important;
        width: 60%;
    }
    .trainer-title {
        margin-top: 100px !important;
        font-size: 230% !important;
    }
    .trainer-box {
        margin: 0px auto !important;
    }
    .price-title {
        margin-bottom: 30%;
    }
    .yearly,
    .quarterly,
    .monthly {
        margin-right: 15px;;
    }
    .best-value {
        left: 180px !important;
    }
}

@media screen and (max-width:768px){
    
    .title-1 {
        height: 40vh;
    }
    .active-nav {
        border: none;
        transform: scale(1);
    }
    .active-nav:hover {
        transform: scale(1) !important;
    }
    .menu li a:hover {
    transform: scale(1);
    }
  
    .title-head {
        font-size: 130% !important;
        margin-top: 30px;
        
        letter-spacing: 2px;
    }
    .join-btn {
        font-size: 80%;
    }
    blockquote {
        margin-bottom: 0 !important;
        width: 100%;
    }
    .trainer-title {
        margin-top:100px !important;
        font-size: 200% !important;
    }
    .trainer-box {
        margin: 0px auto !important;
    }
    .best-value {
        left: 55% !important;
    }
}
@media screen and (max-width:1280px) {
    .title-head {
        margin-top: 15px !important;
         padding: 15px;
         font-size: 230%;
    }
    .first-card {
        margin-top: 150px;
    }
    .title-1 {
        height: 40vh !important;
    }
    
    .price-box {
        margin-top: 0px;
    }
    
     .best-value {
        left: 55% !important;
    }
}

/********************** Media Queries Members Page ******************/

@media screen and (min-width:320px) {
    .gym {
        margin-top: 40px !important;
    }
    .player-1 {
        border: none;
        width: 90%;
         height: 300px;
        margin:0;
    }
    .player-2 {
        border: none;
        width: 90%;
        height: 300px;
        
        margin:0;
    }
    .player-3 {
        border: none;
        width: 90%;
         height: 300px;
        margin:0;
    }
    .trainer-title h2{
    font-size: 100%;

}
    .review-head {
       padding-right: 0;
    }
    div.member-review {
       margin: 0 !important;
    }
}