@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* ------------------ all body css ****************/
body {
  background-color: #000;
}
* a {
    text-decoration: none !important;
}
/* ------------------ Navbar -- */
.navi {
  background-color: #000 !important;
  line-height: 24px;
  height: 80px;
}
.menu {
  background-color: rgba(0, 0, 0, 1);
  font-size: 1.4em;
  margin-left: auto;
  border-radius: 0 0 5px 5px;
}
.menu a{
    display:block;
}
.menu li a{
  color: #f6f6f6 !important;
  font-family: "Roboto", sans-serif;
  transition: 0.5s ease-in-out;
  padding: 5px 15px;
  margin: 0 10px;
  letter-spacing: 1px;
}
.menu li a:hover {
  color: #ff7700 !important;
  transform: scale(1.1);
}
.active-nav {
    border-bottom: 2px solid #ff7700;
    transform: scale(1.1);
}
/**************************** home page first title **************/
.title-1 {
    background: url(../images/banner.jpg) no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    justify-content: center;
    height: 50vh;
}
.first-card {
    margin-top: 50px;
}
.title-head {
  color: #ff7700;
  font-size: 290%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
.title-head  span{
  color: #f6f6f6;
}
/* ------------------------------ Sign up modal ----*/
.joinus-box {
  background-color: rgba(0,0,0,0.8) !important;
  color: #ff7700;
  padding: 15px;
}
/* ---------------------- Title Box start trial button---*/
.join-btn {
  background-color: #ff7700 ;
  transition: 0.5s ease-in-out;
  color: #000;
  border-radius: 25px;
  border:0;
}
.join-btn:hover {
    color: #ff7700;
    background-color: #000;
}
.start-trial {
  text-align: center;
  margin-bottom: 50px;
}
/*************************** Logo ************/
.logo a h3 {
    text-decoration: none !important;
    color:#ff7700;
    animation: mymove 6s infinite;
}
@keyframes mymove {
  0%   {color: #f6f6f6;}
  25%  {color: #ff7700;}
  50%  {color: #f6f6f6;}
  75%  {color: #ff7700;}
  100% {color: #f6f6f6;}
}
/*************************** Fonts CSS *******************/
.orange {
    color:#ff7700;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}
.text {
    text-align: right;
    color: #f6f6f6;
    font-size: 160%;
}
.story {
    text-align:  justify;
}
.footer-text {
    font-family: "Roboto", sans-serif;
    color: #f6f6f6;
    font-size: 80%;
    letter-spacing: 0;
}
.icon {
    color: #ff7700;
    font-size: 140%;
}
.timing {
    font-family: "Roboto", sans-serif;
    color: #f6f6f6;
    font-size: 80%;
}
/************************ horizontal line CSS *********/
.line {
  height: 2px;
  background-color: #ff7700;
  border-radius: 25px;
}
/* ------------------- Trainer section -------*/
.trainer-title{
    margin-top:80px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    font-size: 270%;
}
.trainer-pic1 {
    width:70%;
    height: 270px;
    border: 4px solid #ff7700;
    border-radius: 5%;
    margin: 100px auto 0 auto;
    overflow: hidden;
    background-color: #fff;
}
.pic1 {

    background: url(../images/trainer-1.png) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%; 
    transition: 0.3s all ease-in-out;
}
.pic1:hover {
  transform: scale(1.05);
}
.trainer-pic2 {
    width:70%;
    height: 270px;
    border: 4px solid #ff7700;
    border-radius: 5%;
    margin: 100px auto 0 auto;
    overflow: hidden;
    background-color: #fff;
}
.pic2 {
    background: url(../images/trainer-2.jpg) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
}
.pic2:hover {
     transform: scale(1.05);
}
.trainer-pic3 {
    width:70%;
    height: 270px;
    border: 4px solid #ff7700;
    border-radius: 5%;
    margin: 100px auto 0 auto;
    overflow: hidden;
    background-color: #fff;
}
.pic3 {
    background: url(../images/trainer-3.jpg) no-repeat center center;
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: 0.3s all ease-in-out;
}
.pic3:hover {
   transform: scale(1.05);
}
.text-trainer {
    text-align: center;
    text-transform: uppercase;
    color: #f6f6f6;
    font-size: 90%;
    font-family: "Roboto", sans-serif;
}
.train-align {
    margin: 0 auto;
}
/**************************** Membership Price box ****************/
.price-box {
    margin: 30px auto 200px auto;
    padding: 0 50px;
}
.price-title {
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 290%;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}
.yearly {
    background-color: #f6f6f6;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding:0 !important;
    position:relative;
    transition: 0.3s all ease-in-out;
    z-index: 1;
    margin-bottom: 40px;
}
.best-value {
    width:80px;
    height: 80px;
    color:#f6f6f6;
    font-family: "Roboto", sans-serif;
    background-color: rgb(41, 76, 153);
    border-radius: 40px;
    position: absolute;
    top: -50px;
    left: 150px;
    z-index: 2;
    transition: 0.5s all cubic-bezier(0.215, 0.610, 0.355, 1);
}
.best-value:hover {
    background-color: #f6f6f6;
    color: rgb(41, 76, 153);
    transform: scale(1.05);
}
.yearly a {
    color:black;
}
.quarterly {
    background-color: #f6f6f6;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding:0 !important;
    transition: 0.3s all ease-in-out;
     margin-bottom: 40px;
}
.quarterly a {
    color:black;
}
.monthly {
    background-color: #f6f6f6;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    padding:0 !important;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
}
.monthly a  {
   
    color:black;
}
.sub-head {
    margin-top: 25px;
    margin-left: 15px;
    font-size: 120%;
    text-transform: uppercase;
}
.monthly p, .yearly p, .quarterly p {
        font-family: "Roboto", sans-serif;
        margin-left: 15px;
}
.sub-title {
    margin-top: 140px;
    font-size: 280%;
    margin-left: 15px;
}
.sub-title span {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    font-size: 30%;
}
.space {
    width: 100%;
    height: 30px;
    background-color: rgb(41, 76, 153);
    border-radius: 0 0 10px 10px;
}
.yearly:hover {
    transform: scale(1.05);
}
.quarterly:hover {
    transform: scale(1.05);
}
.monthly:hover {
    transform: scale(1.05);
}
/****************************** Question & Answer modal ****************/
.card {
    background-color: transparent;
    color: white;
}
.info {
    text-decoration: none !important;
    color: #ff7700;
    font-size: 60%;
}
.info:hover {
    color: #f6f6f6;
    border-color: #f6f6f6;
}
.info:focus {
    border-color: #f6f6f6;
}
/*********************** Mmembers Page ************************/
.title-2 {
    height: 50vh;
    background: url(../images/title-2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    justify-content: center;
}
 .members-title {
     padding: 0;
 }
/*********************** gym pictures *************************/
.gym {
    margin-top: 100px;
}

.big-text {
    font-size: 140px;
    color: #ff7700;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.big-text-middle {
    font-size: 160px;
    color: #f6f6f6;
    margin-top: 100px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.player-1 {
    background: url(../images/gym-1.jpeg) no-repeat center center;
    background-size: cover;
    width: 498px;
    height: 498px;
    border: 13px solid #f6f6f6b9;
}
.player-2 {
    background: url(../images/gym-2.jpeg) no-repeat center center;
    background-size: cover;
    width: 498px;
    height: 498px;
    border: 13px solid #df680096;
}
.player-3 {
    background: url(../images/gym-3.jpeg) no-repeat right;
    background-size: cover;
    width: 498px;
    height: 498px;
    border: 13px solid #f6f6f6b9;
}
/************************ Members Review *******************/
.review-head{
    margin-top: 200px;
    color: #f6f6f6;
    font-family: "Roboto", sans-serif;
    font-size: 290%;
    letter-spacing: 2px;
}
.mem-pic {
    margin:100px auto 0 auto;
    width:200px;
    height:200px;
    border: 4px solid #f6f6f6;
    border-radius: 100px;
    overflow: hidden;
}
.profile-1 {
    background: url(../images/mem-1.jpg) no-repeat;
    background-size: contain;
    width:190px;
    height: 190px;
    border-radius: 100px;
    margin: 0 auto;
    border:10px solid #ff7700;
    margin-top: 1px;
}
.profile-2 {
    background: url(../images/mem-2.jpg) no-repeat;
    background-size: contain;
    width:189px;
    height: 189px;
    border-radius: 100px;
    margin: 0 auto;
    border:10px solid #ff7700;
    margin-top: 1px;
}
.profile-3 {
    background: url(../images/mem-3.jpg) no-repeat;
    background-size: contain;
    width:190px;
    height: 190px;
    border-radius: 100px;
    margin: 0 auto;
    border:10px solid #ff7700;
    margin-top: 1px;
}
.icon {
    margin: 0 auto;
}
/**************************** About us page ****************/
.title-3 {
  background: url(../images/cycle.jpg) no-repeat center center;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  justify-content: center;
   height: 40vh;
}
.about-us {
    font-family: "Roboto", sans-serif;
    color: #ff7700;
    font-size: 290%;
    letter-spacing: 1px;
}
.about-container {
    padding: 0 !important;
}
/****************************** Contact page *****************/
.title-4 {

    height: 50vh;
    background: url(../images/contact.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    justify-content: center;
    margin-bottom: 100px;
}
.contact {
    padding:0;
}
/*************************************** Footer Section **************************/
footer{
    margin-top: 50px;
}
.footer {
    padding-left: 0 !important;
}
.social a {
    display:block;
    float:left;
    padding: 5px;
}
.social a i {
    color: #f6f6f6 !important;
    font-size: 180%;
    padding: 5px;
    transition: 0.3s all ease-in-out;
}
.social:hover a i {
    color:#ff7700 !important;
    transform: translateY(3px) !important;
}
/************************ Media Queries index page******************/
@media screen and (max-width:992px) {
    .active-nav {
        border: none;
        transform: scale(1);
    }
    .active-nav:hover {
        transform: scale(1) !important;
    }
    .menu li a:hover {
    transform: scale(1);
    }
    .join-btn {
        font-size: 0.7em;
    }
    .price-title {
       margin-bottom: 30%;
       font-size: 180%;
    }
    .yearly,
    .quarterly,
    .monthly
    {
        margin-right: 10px;
    }
    .best-value {
        left: 180px !important;
    }
}
@media screen and (max-width:768px){
    .active-nav {
        border: none;
        transform: scale(1);
    }
    .active-nav:hover {
        transform: scale(1) !important;
    }
    .menu li a:hover {
    transform: scale(1);
    }
    .title-head {
        font-size: 130% !important;
    }
    .join-btn {
        font-size: 80%;
    }
    .trainer-title {
        font-size: 200% !important;
    }
    .best-value {
        left: 55% !important;
    }
     .price-box {
        margin-bottom: 50px;
    }
    .about-text {
        padding: 0 25px;
    } 
}
@media screen and (max-width:1280px) {
     .best-value {
        left: 55% !important;
    }
}
/********************** Media Queries Members Page ******************/
@media screen and (min-width:320px) {
    .player-1 {
        border: none;
        width: 90%;
        height: 300px;
        margin:0;
    }
    .player-2 {
        border: none;
        width: 90%;
        height: 300px;
        margin:0;
    }
    .player-3 {
        border: none;
        width: 90%;
        height: 300px;
        margin:0;
    }
    .trainer-title h2{
    font-size: 100%;
}
    .review-head {
       padding-right: 0;
    }
    div.member-review {
       margin: 0 !important;
    }
}